@media only screen and (max-width:768px) {
            .transbox {
                padding-left: 4rem;
            }
        }

        header {
            overflow-x: hidden;
        }

        :root {
            --main-color: #0D5A87;
            --light-gray: rgba(255, 255, 255, 0.7);
            --dark-gray: #2e2c2c;
        }

        header .container-fluid {
            background-color: var(--main-color);
        }

        header .navbar {
            margin: 0;
            padding: 0;
        }

        header a {
            color: whitesmoke;
            font-family: 'Acme', cursive;
        }

        header .navbar-brand {
            font-size: 2em;
            vertical-align: middle;
            color: whitesmoke;
            padding-left: 0.2rem;
            text-shadow: 5px 5px 10px black;
        }

        header .navbar-brand img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
            margin-right: 0.2em;
        }

        header .navbar-brand img:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        header .nav-link {
            color: whitesmoke;
            font-size: 1em;
        }

        header .nav-link:hover {
            transform: scale(1.1);
            transition: 1s;
            color: white;
        }

        header .nav-item:last-child {
            padding-right: 2em;
        }

        header .nav-item {
            padding: 0.9em;
        }

        main {
            background-image: url("/images/background.png.jpg");
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        main marquee {
            color: rgb(113, 26, 151);
            font-family: 'Lobster Two', cursive;
            font-size: 2rem;
        }

        main .row {
            margin-top: -2.5rem;
        }

        main .row .col-md-5 {
            padding: 10vmin 15vmin;
            padding-right: 20vmin;
            padding-top: 18vmin;
        }

        main .row .col-md-7 {
            padding-top: 15vmin;
            margin-left: 8vmin;
            font-family: 'Lobster Two', cursive;
        }

        main .row .col-md-7 .btn:hover {
            transform: scale(1.2);
            transition: 1s;
            background-color: purple;
            color: white;
        }

        main .row .col-md-7 h1 {
            font-family: 'Lobster', cursive;
            font-size: 7vmin;
            font-weight: bold;
            color: rgb(150, 15, 207);
            padding: 0.1em 0em;
        }

        main .row .col-md-5 .img-fluid {
            width: 150%;
            height: 60%;
        }

        main .row .col-md-7 h3 {
            padding: 1vmin;
            letter-spacing: 2px;
        }

        main .row .col-md-7 .btn {
            border-radius: 30px;
            font-weight: bold;
            background-color: rgb(129, 31, 233);
        }

        footer {
            background-color: rgba(0, 0, 0, 1);
            overflow-x: hidden;
            bottom: 0;
            width: 100%;
        }

        footer .pt-4 {
            color: whitesmoke;
            font-size: smaller;
        }