<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
</head>
<body>
    <div class="container">
        <form th:action="@{/forgot-password}" method="post" th:object="${forgotPasswordDto}">
            <h1>Forgot Password</h1>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:field="*{email}" required/>
            </div>
            <div>
                <label for="question1">What was the name of your first pet?</label>
                <input type="text" id="question1" name="question1" th:field="*{question_1}" required/>
            </div>
            <div>
                <label for="question2">What is your mother's maiden name?</label>
                <input type="text" id="question2" name="question2" th:field="*{question_2}" required/>
            </div>
            <div>
                <label for="question3">What was the name of your elementary school?</label>
                <input type="text" id="question3" name="question3" th:field="*{question_3}" required/>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <div th:if="${error}">
                <p th:text="${error}">Invalid information</p>
            </div>
        </form>
    </div>
</body>
</html>
